html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, .formulario-login, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


table {
    border-collapse: separate;
    border-spacing: 0;
}


body {
    font-family: Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

html, body {
    height: 100%;
}
.header {
    position: relative;
    width: 100%;
    height: 180px;
    margin: 10px 0 26px 0;
    padding: 0;
    border: none;

}

.header img {
    /*    width: 250px;
        height: 136px;*/
    margin: 0 auto;
    display: block;
}

.barra {
    width: 100%;
    height: 40px;
    margin: 30px 0 0 0;
    border: 2px solid #204f7d;
    
}


.barra h1 {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 5px;
    font-weight: bold !important;
    font-size: 26px !important;   
    color: #fff;
}

.formulario-login {
    display: block;
    width: 350px;
    height: auto;
    margin: 80px auto 0 auto;
    padding: 25px 25px;
    background:linear-gradient(#c9c9c9, #204f7d);
    border-radius: 4px;
}

.ui-inputfield {
    width: 290px;
    color: #204f7d;
    position: relative;
    border: 1px solid #ccc;
    padding: 15px 15px 15px 45px;
    margin: 5px 0 20px -55px;
    background: none;
}

input[type="submit"], button {
    font-size: 15px;
    background: #fff;
    color: #204f7d;
    border: none;
    margin: 0 135px 0 0 !important;
}

.formulario-login a {
    float: right;
    font-size: 15px;
    font-style: italic;
    padding: 10px 0 0;
    color: #fff;
    border: none;
}

.formulario-login .user {
    display: inline-block;
    background: url('../resources/images/user.png') left center no-repeat;
    background-color: #f0f0f0;
    margin-left: 1%;
}

.formulario-login .senha {
    display: inline-block;
    background: url('../resources/images/senha.png') left center no-repeat;
    background-color: #f0f0f0;
    margin-left: 1%;
}

.footer {
    margin: 80px 0 0 0;
}

.footer p {    
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.clearfix {
    clear: both;
}

